@import "tailwindcss";

@theme {
  --color-brand-cream: #faf7f2;
  --color-brand-coffee: #4e3629;
  --color-brand-coffee-light: #8d6e63;
  --color-brand-espresso: #2d1b10;
  --color-brand-caramel: #d7ccc8;
  --color-brand-accent: #d2a172;
}

html,
body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-espresso);
  font-family: var(--font-outfit), sans-serif;
  scroll-behavior: smooth;
  font-family: var(--font-english), var(--font-myanmar), sans-serif;
}
button,
input,
textarea,
select {
  font-family: inherit;
}
